<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689460169194-7i4a274skutkronkmb74m53fhctf77ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689460169194-7i4a274skutkronkmb74m53fhctf77ke</string>
	<key>API_KEY</key>
	<string>AIzaSyD6kHZ-SO8Z8Jpy2qxukR7YYqhdYTNYMD4</string>
	<key>GCM_SENDER_ID</key>
	<string>689460169194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.shapkindev.ToDoFIRE</string>
	<key>PROJECT_ID</key>
	<string>todofire-ebae7</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-ebae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689460169194:ios:a047cf3eceb46c36b7ca93</string>
	<key>DATABASE_URL</key>
	<string>https://todofire-ebae7.firebaseio.com</string>
</dict>
</plist>